.pie-de-pagina{
  background: url(../imagenes/footer.jpg) no-repeat center/ cover;
    width: 100%;
    height: 300px;
   
}

.redes p{
    margin-top: 100px;
    text-align: center;
    color: black;
}

.redes__lista{
display: flex;
justify-content: space-between;

}

.redes__lista img{
    width: 30px;
    height: 30px;
}

.redes__lista__items{
    padding: 45px;
}

#botonArriba{
    width: 60px;
    height: 60px;
    background: #46a2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 65px;
    right: 50px;
    position: fixed;
    
    
}


#btn-subir {
    background: inherit;
    border: 0px;
   
}