.hobbies{
    background-color: var(--col-de-fondo3);
   
}

.hobbies-contenido{
    display: flex;
}

.hobbies-contenido img{
    width: 200px;
    height: 150px;

}



.hobbies__titulo{
    text-align: center;
}

.hobbie{
    position: relative;
    width: 350px;
    height: 250px;
    margin: 15px;
    cursor: pointer;
    overflow:hidden;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
}

.hobbie__item{

    overflow:hidden;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
}

.hobbie img{
    width: 350px;
    height: 250px;
    transition: 2s;
    
}

.hobbie img:hover{
    transform: translateX(-30%);
    filter: brightness(80%);
}

.hobbie p{
    position: absolute;
}