.hobbies {
    text-align: center;
    background: #141414 url(https://unsplash.it/1228/880?image=302);
    background-size: cover;
    background-position: 50%;
    padding: 30px;

}

.hobbies button {
    background-color: #46a2fd;
    border-radius: 50%;
    width:40px;
    height:40px;
}

.hobbies-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.hobbies-contenido img {
    width: 500px;
    height: 100%;
}

.hobbies__titulo {
    text-align: center;
    font-weight: bold;
}

.hobbie {
    position: relative;
    margin: 15px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
}

.hobbie__item {
    padding: 0px;
    width: 250px;
    margin: 10px;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}

.hobbie__item p {
    text-align: center;
}

.hobbie img {
    width: 350px;
    height: 250px;
    transition: 2s;

}

.hobbie img:hover {
    transform: translateX(-30%);
    filter: brightness(80%);
}

@media(max-width:600px){
    .hobbies-contenido{
        flex-direction: column;
        align-items: center;
    }
}