.proyectos {
    text-align: center;
    background: #141414 url(https://unsplash.it/1228/880?image=302);
    background-size: cover;
    background-position: 50%;
    height: auto;
    padding: 30px;

}

.proyectos button {
    background-color: #46a2fd;
    border-radius: 50%;
}

.btn-editar{
    width: 100%;
    z-index: 2;
    margin: 10px;
}

.proyectos__titulo {
    text-align: center;
}

.informacion-proyectos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 30px;
    justify-content: center;

}

.proyectos__descripcion {
    width: 300px;
    height: auto;
    margin: 10px;
    position: relative;
    background-color: rgba(0, 0, 0,0.5);
    color: aliceblue;
  
}

.proyectos__descripcion h3 {
    margin-top: 30px;
}

.proyectos__descripcion img {
    width: 300px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
  
}

.proyectos__descripcion img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media(max-width:768px){
.proyectos{
    height: auto;
}


@media(max-width:600px) {
    .proyectos {
        height: auto;
    }

    .informacion-proyectos {
     align-items: center;
     justify-content: center;
    }
}
}