.skills{
    text-align: center;
    background: #141414 url(https://unsplash.it/1228/880?image=302);
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    padding: 30px;
}

.skills button{
    background-color: #46a2fd;
    border-radius: 50%;
}

.skills__titulo{
    text-align: center;
}

.skills__contenido{
    display: flex;
    flex-wrap: wrap; 
    padding: 30px;
}

.skills__tecnologia h3{
    text-align: center;
   
   
}

.skills__tecnologia img{
    justify-content: space-around;
    margin: 20px;
    width: 200px;
    height: 200px;
    
}

.skills__tecnologia img:hover{
    -webkit-transform: rotate(360deg);
    transition: 2s ease-in-out;
    -webkit-border-radius:50%;
    transition: 2s ease;
    
}

@media(max-width:768px){
    .skills{
        height: auto;
    }


@media(max-width:600px){
    .skills{
        height: auto;
    }
}
}