:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --col-de-fondo1: #cdcdcd;
    --col-de-fondo2: #F5F5F5;
    --col-de-link: #40E0D0;
    --col-de-fondo3: #FFF5EE;
    --col-de-fondo4: #FFFAFA;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

.capa {
    background-color: rgba(0, 103, 123, 0.7);
    color: beige;
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0;
    padding:20px;
}

.capa:hover {
    opacity: 1;
    visibility: visible;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.capa h3{
    margin-left: -100px;
    transition: all 600ms ease-out;
}

.capa:hover h3 {
    margin-left: 0px;
}

.capa p{
    margin-right: -100px;
    transition: all 600ms ease-out;
}

.capa:hover p{
    margin-right: 0px;
}

.btn-editar {
    display: flex;
   
}



.fa-solid {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-bottom: -100px;
    transition: all 800ms ease-out;
}

.fa-solid:hover {
    width: 35px;
    height: 35px;
    padding: 8px;
}

.fa-trash-can {
    background-color: rgba(255, 0, 0, 0.7);
}

.fa-pen {
    background-color: rgba(0, 100, 0, 0.7);
}

@media(max-width:600px){
    .capa{
        width:457px;
    }
}